/VATSpyConfig.xml
/WorldMap.dat
/Meta.json
/.vs
/.vs/slnx.sqlite
/.vs/vatspy-data-project
/.vs/vatspy-data-project/FileContentIndex
/.vs/vatspy-data-project/FileContentIndex/1bf86383-deb5-41ed-923c-259602d85dec.vsidx
/.vs/vatspy-data-project/FileContentIndex/d89bb1e4-3f96-4a99-8ba4-505862d01074.vsidx
/.vs/vatspy-data-project/v17
/.vs/vatspy-data-project/v17/.wsuo
/.vs/VSWorkspaceState.json
/.gitignore
